<div class="container">
    <div class="col-md-6">
        <h4>Adicionar Aula:</h4>
        <form class="form-horizontal" name="formAddAula" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2" for="form">Nome:</label>
                <div class="col-sm-10 form-group" ng-class="{'has-error':formAddAula.nome.$error.duplicado}">
                    <input type="text" class="form-control" name="nome" ng-model="add.nome" placeholder="Digite o nome da aula..." ng-change="validar(add.nome)"
                        required/>
                    <span class="help-block text-danger" ng-show="formAddAula.nome.$error.duplicado">Essa aula já existe, verifique!</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-default" ng-disabled="formAddAula.$error.required || !formAddAula.$valid" ng-click="adicionarAula(add)">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>