<div class="top grande">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> Dashboard</span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> Amigos</span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> Meu perfil</span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> Pesquisar pessoas</span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>

<div class="top pequena">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> </span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> </span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> </span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> </span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>
<section class="privado">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="user p-relat">
					<img class="user-pic" src="{{usuario.imagem}}" alt="">
					<div class="username">{{usuario.nome}}</div>
					<div class="usermail">{{usuario.email}}</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="feed-item clearfix" ng-repeat="post in posts | orderBy: '-dataAtual'">
					<div class="clearfix p-relat feed-item-header">
						<img class="user-pic-feed" ng-src="{{post.usuario.imagem}}" alt="">
						<span class="username-feed">{{post.usuario.nome}}</span>
						<label for="curtir"><span hidden>curtir</span><i class="fa fa-heart-o fa-2x curtir p-abs" title="curtir" ng-class="{active:post.reagido}" ng-click="reagir(post)"></i></label>
					</div>
					<div class="feed-post">
						<div>{{post.texto}}</div>
						<img class="feed-img" src="{{post.imagem}}" alt="" ng-if="post.imagem !== null">
					</div>
				</div>				
			</div>
			
			<div class="col-lg-3">				
				<div class="solicitacoes acoes-amigos">
					<span class="bold"><i class="fa fa-check" ng-if="adicionar" ng-click="adicionar()"></i> Adicionar aos amigos </span>
				</div>
				<!--<div class="solicitacoes acoes-amigos">
					<span class="bold"><i class="fa fa-close" ng-if="remover" ng-click="remover()"></i> Remover amizade </span>
				</div>-->
			</div>
		</div>
	</div>
</section>