<div class="top grande">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> Dashboard</span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> Amigos</span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> Meu perfil</span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> Pesquisar pessoas</span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>

<div class="top pequena">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> </span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> </span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> </span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> </span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>
<section class="perfil">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<h1 class="page-header annie bold">Atualize seus dados:</h1>
				<form novalidate name="formCadastro">
		
					<div class="form-group">
						<label for="email" hidden>Email</label>
						<input ng-model="novoUsuario.email" type="email" class="form-control" name="email" placeholder="E-mail"  required>
					</div>

					<div class="form-group">
						<label for="nome" hidden>Nome</label>
						<input ng-model="novoUsuario.nome" type="text" class="form-control" name="nome" placeholder="Nome completo" required>
					</div>

					<div class="form-group row">
						<label class="col-sm-3" for="sexo">Masculino <input type="radio" ng-model="novoUsuario.sexo" ng-value="'m'" name="sexo" required></label >
						<label class="col-sm-3" for="sexo">Feminino <input type="radio" ng-model="novoUsuario.sexo" ng-value="'f'" name="sexo" required></label >
					</div>

					<div class="form-group">
						<label for="nascimento" hidden>Data de nascimento</label>
						<input ng-model="novoUsuario.dataNascimento" type="text" class="form-control" name="nascimento" placeholder="Data de nascimento" required ui-date-mask>
					</div>

					<div class="form-group">
						<label for="imagem" hidden>Imagem de perfil</label>
	          			<input ng-model="novoUsuario.imagem" type="text" class="form-control" name="imagem" placeholder="Imagem de perfil" required>
	        		</div>
		
					<div class="form-group">
						<label for="senha" hidden>Senha</label>
						<input ng-model="novoUsuario.senha" type="password" class="form-control" name="senha" placeholder="Digite a nova senha" required>
					</div>
		
					<button class="btn btn-default botao-cadastrar" ng-click="atualizar(novoUsuario)">Atualizar</button>
			
				</form>
			</div>
			<div class="col-sm-6 perfil-img-container">
				<img src="/img/orange-cat-head.png" alt="">
			</div>
		</div>
	</div>
</section>