* {
	box-sizing: border-box;
}
body {
	padding: 2% 5%;
	font-family: 'Open Sans', sans-serif; 	
}

.container-fluid {
	text-align: center;		
}
.formulario {
	position: relative;
	left: 50%;
	transform: translate(-50%);

}
 .detalhesPkm {
 	display: block;
} 

li {
	list-style: none;
}