<div class="top grande">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> Dashboard</span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> Amigos</span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> Meu perfil</span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> Pesquisar pessoas</span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>

<div class="top pequena">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> </span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> </span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> </span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> </span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>
<section class="privado">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="feed-item clearfix" ng-repeat="amigo in amigos">
					<img class="user-pic-feed" src="{{amigo.solicitado.imagem}}" alt="">
					<div>{{amigo.solicitado.nome}}</div>	
					<div>{{amigo.solicitado.email}}</div>
				</div>
			</div>
		</div>
	</div>
</section>