<div class="top grande">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> Dashboard</span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> Amigos</span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> Meu perfil</span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> Pesquisar pessoas</span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>

<div class="top pequena">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 top-col">
                <span class="left bold annie rosa">Cute Cat</span>
                <div class="menu">
					<a href="#!/privado"><span><i class="fa fa-bar-chart"></i> </span></a>
					<a href="#!/amigos"><span><i class="fa fa-user-o"></i> </span></a>
					<a href="#!/perfil"><span><i class="fa fa-cogs"></i> </span></a>
					<a href="#!/pesquisar"><span><i class="fa fa-search"></i> </span></a>
				</div>
                <a href="#!/login" ng-click="logout()"><span class="right bold acessar">Sair &nbsp<i class="fa fa-arrow-left"></i></span></a>
            </div>
        </div>
    </div>
</div>
<section class="perfil">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<h1 class="page-header annie">Pesquise por novos amigos:</h1>
				<form novalidate name="pesquisarForm">
		
					<div class="form-group">
						<label for="nome" hidden>Digite o nome ou email:</label>
						<input ng-model="filtro.nome" type="text" class="form-control" name="nome" placeholder="Nome ou email" required>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="feed-item clearfix" ng-repeat="usuario in usuarios | filter: filtro">
									<img class="user-pic-solic" src="{{usuario.imagem}}" alt="" ng-click="verPerfil(usuario.id)">
									<div class="bold user-add" ng-click="verPerfil(usuario.email)">{{usuario.nome}}</div>
								</div>
							</div>
						</div>
					</div>
			
				</form>
			</div>
			<div class="col-sm-6 perfil-img-container">
				<img src="/img/orange-cat-head.png" alt="">
			</div>
		</div>
	</div>
</section>