<div class="bloco container">

    <a href="/#!/aulas">
        <div class="div-link">
            <h2><i class="glyphicon glyphicon-book mright-5" aria-hidden="true"></i>Lista de aulas</h2>
            <div>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aula in aulas | orderBy: 'nome'">
                            <td>{{ aula.id }}</td>
                            <td>{{ aula.nome }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </a>


    <a href="/#!/instrutores">
        <div class="div-link">
            <h2><i class="glyphicon glyphicon-book mright-5" aria-hidden="true"></i>Lista de Instrutores</h2>
            <div>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="instrutor in instrutores | orderBy: 'nome'">
                            <td>{{ instrutor.nome }}{{ instrutor.sobrenome }}</td>
                            <td>{{ instrutor.idade }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </a>
</div> 