<!DOCTYPE html>
<html lang="en" ng-app="dia1" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="controller.js"></script>
    <title>Dia 1</title>
</head>
<body>
    <div ng-controller="formularioPkn" class="container-fluid">  
        <div class="bloco">
            <h1>Busque Pokémons</h1>

            <div  class="form-group">
                <label>Digite o nome:</label>       
                <input ng-model="searchText.nome" class="form-control" type="text" placeholder="Ex.: Bulbasaur">
            </div>

            <ul class="list-group">
                <li ng-repeat="nomePokemon in pokemon | filter:searchText" class="list-group-item">
                    {{nomePokemon.nome}} ({{nomePokemon.tipo}})
                </li>
            </ul>   
        </div>

        <!-- <div>
        <label for="form">Escreva</label>
        <input ng-model="pokemon.nome" type="text" placeholder="Ex.: Olá, você!">
        <h1>Nome: {{ pokemon.nome }}</h1>
        <input ng-model="pokemon.tipo" type="text" placeholder="Ex.: Olá, você!">
        <h1>Tipo: {{ pokemon.tipo }}</h1>
        <ul>
            <li ng-repeat="elemento in pokemon">
                Nome: {{elemento.nome}} | Tipo: {{elemento.tipo}}
            </li>
        </ul>
        </div> -->
    </div>
</body>
</html>