*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(pokemon.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.container-fluid {
    margin: 5px 20px 5px 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);       
}
.bloco {
   width: 280px;
}
h1 {
    text-align: center;
    color: #fff;
    background-color: green;
    opacity: 0.9;
    filter: alpha(opacity=);
    padding: 15px;
    border-radius: 5px;
}