
body {
	background-color: #FFFC8D;
	/* width: 90%; */
	padding: 10%;
}

@media screen and (min-width: 630px) {
	body {
		/*width: 70%;*/
		padding: 30%;
	}
}


h1 {
	text-align: center;
	color: #B23F45;
}

p {
	text-align: justify;
	background-color: #FF737B;
	padding: 4em;
}

p > span {
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 2em;
}

p > strong {
	color: #488CB2;
}

h2 {
	text-align: center;
	padding: 2em;
}

i.fa.fa-heart {
	padding: 0  1em;
}

