<div class="container">

 	<h1 class="page-header">Página Administrativa</h1>

<!-- BUSCAR CADASTRO DE CLIENTE -->

  <div>
    <h1 class="page-header">Buscar cadastro de cliente</h1>
    <div class="row">
      <div class="col-sm-4">
        <form novalidate name="formCpf" ng-submit="carregarCliente(cpf)">

          <div class="form-group">
            <label for="cpf">Digite o CPF do cliente:</label>
            <input ng-model="cpf" type="text" class="form-control" name="cpf">
          </div> 

          <button class="btn btn-default">Buscar</button>

        </form>
      </div>
    </div>
  </div>

  {{clientePego}}
  operador {{operador}}
  gerente {{gerente}}

<!-- CADASTRO DE CLIENTE -->

        <div>
          <h1 class="page-header">Cadastro de cliente</h1>
          <div>
            <div>
              <form novalidate name="formCadastro" ng-submit="registrar(cliente)">

                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input ng-model="cliente.Nome" type="text" class="form-control" name="nome">
                </div>  

                <div class="form-group">
                  <label for="nome">Endereço</label>
                  <input ng-model="cliente.Endereco" type="text" class="form-control" name="nome">
                </div>    

                <div class="form-group">
                  <label for="nome">CPF</label>
                  <input ng-model="cliente.Cpf" type="text" class="form-control" name="nome">
                </div>  

                <div class="form-group">
                  <label for="nome">Gênero</label>
                  <select ng-model="cliente.Genero " type="text" class="form-control" name="nome" >
                    <option type="text" class="form-control" name="nome" ng-value="1">Masculino</option>
                    <option type="text" class="form-control" name="nome" ng-value="2">Feminino</option>
                    <option type="text" class="form-control" name="nome" ng-value="3">Outro</option>
                  </select>
                </div>  

                <div class="form-group">
                  <label for="nome">Data Nascimento</label>
                  <input type="date" ng-model="cliente.DataNascimento" class="form-control" name="nome">
                </div>                      
          
                <button type="submit" class="btn btn-default">Cadastrar</button>
          
              </form>
            </div>
          </div>
        </div>     

<!-- CADASTRO DE LOCACAO  -->

        <div>
          <h1 class="page-header">Cadastro de locação</h1>
          <div>
            <div>
              <form novalidate name="formCadastro" ng-submit="registrar(cliente)">

                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input ng-model="cliente.Nome" type="text" class="form-control" name="nome">
                </div>  

                <div class="form-group">
                  <label for="nome">Endereço</label>
                  <input ng-model="cliente.Endereco" type="text" class="form-control" name="nome">
                </div>    

                <div class="form-group">
                  <label for="nome">CPF</label>
                  <input ng-model="cliente.Cpf" type="text" class="form-control" name="nome">
                </div>  

                <div class="form-group">
                  <label for="nome">Gênero</label>
                  <select ng-model="cliente.Genero " type="text" class="form-control" name="nome" >
                    <option type="text" class="form-control" name="nome" ng-value="1">Masculino</option>
                    <option type="text" class="form-control" name="nome" ng-value="2">Feminino</option>
                    <option type="text" class="form-control" name="nome" ng-value="3">Outro</option>
                  </select>
                </div>  

                <div class="form-group">
                  <label for="nome">Data Nascimento</label>
                  <input type="date" ng-model="cliente.DataNascimento" class="form-control" name="nome">
                </div>                      
          
                <button type="submit" class="btn btn-default">Cadastrar</button>
          
              </form>
            </div>
          </div>
        </div>     

<!-- MODAL RELATÓRIOS -->
  
  <!-- <div class="botao-detalhes">
    <button type="button" class="btn" ng-click="carregarInformacoes(livro.Isbn)" title="detalhes">Ver detalhes</button>
  </div>        

  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
                      <button type="button" class="close" ng-click="cancel()">&times;</button>
                      <h4 class="modal-title">Detalhes do livro</h4>
                  </div>
                  <div class="modal-body">
                      <div>
                        <h5>{{livroComp.Titulo}}</h5>
                        <p>Autor: {{livroComp.Autor.Nome}}</p>
                        <p>Gênero: {{livroComp.Genero}}</p>
                        <p>Descrição: {{livroComp.Descricao}}</p>
                        <p>Data da publicação: {{livroComp.DataPublicacao}}</p>
                        <p>Isbn: {{livroComp.Isbn}}</p>
                      </div>
                      <button class="btn" ng-if="revisor && revisado(livroComp.Isbn)" ng-click="revisar(livroComp.Isbn, livroComp)">Revisar</button>
                      <button class="btn" ng-if="publicar" ng-click="publicar(livroComp.Isbn, livroComp)">Publicar</button>
                      <button class="btn" ng-click="excluirLivro(livroComp.Isbn, livroComp)">Excluir livro</button>
                      <button class="btn" ng-click="carregarInformacoes2(livroComp)">Editar livro</button>
                  </div>
      <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>  
  </script> -->

</div>