@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url(https://fonts.gstatic.com/s/annieuseyourtelescope/v6/2cuiO5VmaR09C8SLGEQjGka-vN3cnM35kL5a2hXIL_33rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.annie {
	font-family: 'Annie Use Your Telescope';
	font-size: 30px;
}
.rosa {
	color: #f5adb4;
}
/*utilidades*/
.p-relat {
	position: relative;
}
.p-abs {
	position: absolute;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn-default {
	width: 100%;
}

body {
	/*font-family: 'Annie Use Your Telescope';*/
	background-color: #ccf6f8;	
}
/*fim utilidades*/

.top {
	/*background-image: linear-gradient(to bottom right, #f5adb4, #49a3af);*/
	background-color: #fff;
	height: 47px;
	width: 100%;
	position: fixed;
	z-index: 1;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.top .container {
	height: 100%;
}

.top .row {
	/*display: flex;*/
	/*align-items: center;*/
	height: 100%;
}

.top > * {
	color: #797979;
	/*transform: translateY(30%);*/
}
.top-col > span,
.top-col .right {
	/*transform: translateY(30%);*/
}
.top-col {
	height: 100%;
	/*transform: translateY(22%);*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main {
	margin: 30px 0;
	padding: 30px 0;
	max-height: 375px;
}

/*.background {
	background-image: url('/img/cute-cartoon-cat.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 50%;
	top: 0;
	right: 0;
}*/

.main-pic {
	height: 100%;	
	object-fit: contain; /*faz imagem caber na div*/
}

.container-img {
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.acessar:hover {
	color: grey;
}

.botao-cadastrar:hover, 
.botao-entrar:hover {
	background-color: lightblue;
}

.privado, 
.perfil {
	/*background-color: #e6ecf0;*/
	min-height: 100vh;
	padding: 57px 0;
}

.user {
	/*background-image: url('/img/background.jpg');*/
	/*background-position: top;*/
	/*background-size: 100% 50%;*/
	background: linear-gradient(to bottom, #49a3af 50%, #fff 50%);
	padding: 20px;
	text-align: center;
}

.user-pic {
	width: 220px;
	height: 220px;
}
.user-pic-post {
	width: 50px;
	height: 50px;
	float: left;
}
.user-pic-feed {
	width: 60px;
	height: 60px;
	float: left;	
	margin-right: 10px;
}
.user-pic, 
.user-pic-post,
.user-pic-feed {
	object-fit: cover;
	border: 2px solid white;
	border-radius: 50%;
}

.username {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
}
.usermail {
	margin-top: 10px;
}

.post {
	background-color: #e8f5fd;
	padding: 20px;
}

.post .input {
	border: 2px solid #49a3af;
	border-radius: 17px;
	padding: 20px;
	width: 87%;
	resize: none; /*tira os risquinhos no canto inferior direito*/ 
	margin-left: 15px;
}

.botao-grupo-postar {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.botao-postar {
	color: #fff;
	background-color: #49a3af;
	border-radius: 17px;
	padding: 10px 20px; 
	border: none;
}
.botao-postar:hover {
	background-color: #25b0f8;
}

.botao-postar[disabled] {
	color: #d5edfc;
	background-color: #acdcfa;
}
.feed-item {
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #e6ecf0;
}
.username-feed {
	font-weight: bold;
	margin-left: 10px;
}
.feed-post {
	width: 100%;
	padding-top: 15px;
}
.feed-post .feed-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 3px;
	margin: 15px 0;
}
.feed-item-header {
	display: flex;
	align-items: center;
}
.curtir {
	right: 10px;
	top: 15px;
	color: #797979;
}
.curtir:hover {
	cursor: pointer;
	color: red;
}
.curtir.active {
	color: red;
}
.solicitacoes {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}
.solicitacao {
	margin-top: 5px;
	border-top: 1px solid #e6ecf0; 
	padding: 5px;
}
.user-pic-solic {
	object-fit: cover;
	border-radius: 50%;
	height: 52px;
	width: 52px;
	float: left;
	margin-right: 7px;
}
.add,
.rejeitar {
	padding: 4px 12px;
	border-radius: 100px;
	border: 1px solid;
	margin-top: 5px;
}
.add {
	color: lightgreen;
	border-color: lightgreen;
}
.add:hover {
	background-color: lightgreen;
	color: white;
	cursor: pointer;
}
.rejeitar {
	color: #a94465;
	border-color: #a94465;
}
.rejeitar:hover {
	background-color: #a94465;
	color: white;
	cursor: pointer;
}
.user-add {
	margin-bottom: 5px;
}
.carregar {
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.carregar-mais:hover {
	text-decoration: underline;
	cursor: pointer;
}
.perfil-img-container {
	text-align: center;
	padding-top: 70px;
}
.menu {
	height: 100%;
	margin-left: 30px;
	display: flex;
	align-items: center;
}
.menu > * {
	margin-left: 30px;
}
.pesquisar {
	border: 1px solid #797979;
	border-radius: 100px;	
	padding: 5px 20px;
	margin-left: 30px;
}
button.search {
	border: none;
	background: none;
}
.fa-upload {
	top: 13px;
	right: 20px;
}
.inputFoto {
	border: 1px solid #797979;
	border-radius: 17px;	
	padding: 10px 20px;
	margin-left: 65px;	
}

.acoes-amigos:hover {
	background-color: #e8f5fd; 
	cursor: pointer;
} 