<div class="container">
  
  <div uib-carousel active="active" interval="5000">
    <div uib-slide ng-repeat="livro in Lancamentos track by livro.Isbn" index="$index">
        <img ng-src="{{livro.Capa}}">
        <div class="carousel-caption">
            <h4>{{livro.Titulo}}</h4>
            <p>{{livro.Autor}}</p>
        </div>
    </div>
  </div>  
  
  <!-- LIVROS GERAIS -->
  <div class="row text-center">
      <div class="div-livro" ng-repeat="livro in Livros">
        <div class="capa" style="background-image: url({{livro.Capa}})"></div>
        <div class="hover-livro">
          <h2>{{livro.Titulo}}</h2>
          <p>Autor: {{livro.NomeAutor}}</p>
          <p>Gênero: {{livro.NomeAutor}}</p>
        </div>
    </div>      
  </div>

 <ul uib-pagination total-items="quantidadeLivros" ng-model="paginaAtual" ng-change="trocarPaginas()" items-per-page="parametros.quantidadeTrazer"></ul>

</div>
