<div class="container">

 	<h1 class="page-header">Página Administrativa</h1>

<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" is-open="!1">
        <uib-accordion-heading>
            <h3>Adicionar Autor</h3>
        </uib-accordion-heading>
		<form novalidate name="formAutores">
			<div class="form-group">
			    <label for="nome">Nome<small> (mínimo 2 e máximo 20 caracteres - obrigatório)</small></label>
			    <input class="form-control" type="text" name="nome" ng-model="autor.Nome" ng-minlength="2" ng-maxlength="20" placeholder="Ex.: Érico Verissímo" required> 
			</div>                    
			<div class="form-group">
			    <button class="btn btn-primary" ng-click="incluirAutor(autor)">Incluir</button>
			</div>
		</form>
    </div>
    <div uib-accordion-group class="panel-default" is-open="!2">
        <uib-accordion-heading>
            <h3>Adicionar Livro</h3>
        </uib-accordion-heading>
     	<form novalidate name="formLivros">
     	   <div class="form-group">
     	       <label for="titulo">Titulo<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="titulo" ng-model="livro.Titulo" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: O Arquipélago" required> 
     	   </div> 
     	   <div class="form-group">
     	       <label for="descricao">Descrição<small> (mínimo 2 e máximo 300 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="descricao" ng-model="livro.Descricao" ng-minlength="2" ng-maxlength="300" placeholder="Ex.: 'O Arquipélago', última parte da trilogia. 'O Tempo e o Vento', encerra a saga da família Terra Cambará..." required> 
     	   </div>
     	   <div class="form-group">
     	       <label for="genero">Gênero<small> (mínimo 2 e máximo 40 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="genero" ng-model="livro.Genero" ng-minlength="2" ng-maxlength="40" placeholder="Ex.: Romance" required> 
     	   </div>
     	   <div class="form-group">
     	       <label for="capa">Imagem da capa<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="capa" ng-model="livro.Capa" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: http://site.com.br/imagem.jpg" required> 
     	   </div> 
     	   <div class="form-group btn-group">
     	       <label for="autores">Autor da obra<small> (obrigatório)</small></label>
     	       <br>
     	       <select ng-model="livro.Autor" name="autores">
     	           <option ng-repeat="autor in autores | orderBy: 'Nome'" ng-value="{{autor.Id}}">
     	               {{ autor.Nome }}                                       
     	           </option>
     	       </select>       
     	   </div>                         
     	   <div class="form-group">
     	       <button class="btn btn-primary" ng-click="incluirLivro(livro)">Incluir</button>
     	   </div>
     	</form>
    </div>
</uib-accordion>

<!-- LIVROS GERAIS -->
  <div class="row text-center">
      <div class="div-livro" ng-repeat="livro in Livros">
        <div class="capa" style="background-image: url({{livro.Capa}})"></div>
        <div class="hover-livro">
          <h2>{{livro.Titulo}}</h2>
          <p>Autor: {{livro.NomeAutor}}</p>
          <p>Gênero: {{livro.Genero}}</p>
          <div class="botao-detalhes">
            <button type="button" class="btn" ng-click="carregarInformacoes(livro.Isbn)" title="detalhes">Ver detalhes</button>
          </div>
        </div>
    </div>      
  </div> 

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
                        <button type="button" class="close" ng-click="cancel()">&times;</button>
                        <h4 class="modal-title">Detalhes do livro</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                          <h5>{{livroComp.Titulo}}</h5>
                          <p>Autor: {{livroComp.Autor.Nome}}</p>
                          <p>Gênero: {{livroComp.Genero}}</p>
                          <p>Descrição: {{livroComp.Descricao}}</p>
                          <p>Data da publicação: {{livroComp.DataPublicacao}}</p>
                          <p>Isbn: {{livroComp.Isbn}}</p>
                        </div>
                        <button class="btn" ng-if="revisor && revisado(livroComp.Isbn)" ng-click="revisar(livroComp.Isbn, livroComp)">Revisar</button>
                        <button class="btn" ng-if="publicar" ng-click="publicar(livroComp.Isbn, livroComp)">Publicar</button>
                        <button class="btn" ng-click="excluirLivro(livroComp.Isbn, livroComp)">Excluir livro</button>
                        <button class="btn" ng-click="carregarInformacoes2(livroComp)">Editar livro</button>
                    </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>  
    </script>

    <script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header">
                        <button type="button" class="close" ng-click="cancel()">&times;</button>
                        <h4 class="modal-title">Detalhes do livro</h4>
                    </div>
                    <div class="modal-body">
                        <form novalidate name="formLivros">
           <div class="form-group">
               <label for="titulo">Titulo<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
               <input class="form-control" type="text" name="titulo" ng-model="livro.Titulo" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: O Arquipélago" required> 
           </div> 
           <div class="form-group">
               <label for="descricao">Descrição<small> (mínimo 2 e máximo 300 caracteres - obrigatório)</small></label>
               <input class="form-control" type="text" name="descricao" ng-model="livro.Descricao" ng-minlength="2" ng-maxlength="300" placeholder="Ex.: 'O Arquipélago', última parte da trilogia. 'O Tempo e o Vento', encerra a saga da família Terra Cambará..." required> 
           </div>
           <div class="form-group">
               <label for="genero">Gênero<small> (mínimo 2 e máximo 40 caracteres - obrigatório)</small></label>
               <input class="form-control" type="text" name="genero" ng-model="livro.Genero" ng-minlength="2" ng-maxlength="40" placeholder="Ex.: Romance" required> 
           </div>
           <div class="form-group">
               <label for="capa">Imagem da capa<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
               <input class="form-control" type="text" name="capa" ng-model="livro.Capa" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: http://site.com.br/imagem.jpg" required> 
           </div> 
           <div class="form-group btn-group">
               <label for="autores">Autor da obra<small> (obrigatório)</small></label>
               <br>
               <select ng-model="livro.Autor" name="autores">
                   <option ng-repeat="autor in autores | orderBy: 'Nome'" ng-value="{{autor.Id}}">
                       {{ autor.Nome }}                                       
                   </option>
               </select>       
           </div>                         
           <div class="form-group">
               <button class="btn btn-primary" ng-click="incluirLivro(livro)">Incluir</button>
           </div>
        </form>
                        <button class="btn" ng-if="revisor && revisado(livroComp.Isbn)" ng-click="revisar(livroComp.Isbn, livroComp)">Revisar</button>
                        <button class="btn" ng-if="publicar" ng-click="publicar(livroComp.Isbn, livroComp)">Publicar</button>
                        <button class="btn" ng-click="excluirLivro(livro.Isbn, livro)">Excluir livro</button>
                        <button class="btn" ng-click="editarLivro(livroComp.Isbn, livroComp)">Editar livro</button>
                    </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>  
    </script>


<button class="btn" ng-click="excluirAutor(autor.id, Autor)">Excluir autor</button>
<button class="btn" ng-click="editarAutor(autor.id, Autor)">Excluir autor</button>

</div>