<div class="container">

 	<h1 class="page-header">Página Privada</h1>

	<p><a href="/#!/home">Home</a></p>

	<p>{{ mensagem.colaborador }}</p>

	<p ng-if="auth.possuiPermissao('Administrador')">{{ mensagem.administrador }}</p>


<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" is-open="!1">
        <uib-accordion-heading>
            <h3>Adicionar Autor</h3>
        </uib-accordion-heading>
		<form novalidate name="formAutores">
			<div class="form-group">
			    <label for="nome">Nome<small> (mínimo 2 e máximo 20 caracteres - obrigatório)</small></label>
			    <input class="form-control" type="text" name="nome" ng-model="autor.Nome" ng-minlength="2" ng-maxlength="20" placeholder="Ex.: Érico Verissímo" required> 
			</div>                    
			<div class="form-group">
			    <button class="btn btn-primary" ng-click="incluirAutor(autor)">Incluir</button>
			</div>
		</form>
    </div>
    <div uib-accordion-group class="panel-default" is-open="!2">
        <uib-accordion-heading>
            <h3>Adicionar Livro</h3>
        </uib-accordion-heading>
     	<form novalidate name="formLivros">
     	   <div class="form-group">
     	       <label for="titulo">Titulo<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="titulo" ng-model="livro.Titulo" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: O Arquipélago" required> 
     	   </div> 
     	   <div class="form-group">
     	       <label for="descricao">Descrição<small> (mínimo 2 e máximo 300 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="descricao" ng-model="livro.Descricao" ng-minlength="2" ng-maxlength="300" placeholder="Ex.: 'O Arquipélago', última parte da trilogia. 'O Tempo e o Vento', encerra a saga da família Terra Cambará..." required> 
     	   </div>
     	   <div class="form-group">
     	       <label for="genero">Gênero<small> (mínimo 2 e máximo 40 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="genero" ng-model="livro.Genero" ng-minlength="2" ng-maxlength="40" placeholder="Ex.: Romance" required> 
     	   </div>
     	   <div class="form-group">
     	       <label for="capa">Imagem da capa<small> (mínimo 2 e máximo 30 caracteres - obrigatório)</small></label>
     	       <input class="form-control" type="text" name="capa" ng-model="livro.Capa" ng-minlength="2" ng-maxlength="30" placeholder="Ex.: http://site.com.br/imagem.jpg" required> 
     	   </div> 
     	   <div class="form-group btn-group">
     	       <label for="autores">Autor da obra<small> (obrigatório)</small></label>
     	       <br>
     	       <select ng-model="livro.Autor" name="autores">
     	           <option ng-repeat="autor in autores | orderBy: 'Nome'" ng-value="{{autor.Id}}">
     	               {{ autor.Nome }}                                       
     	           </option>
     	       </select>       
     	   </div>                         
     	   <div class="form-group">
     	       <button class="btn btn-primary" ng-click="incluirLivro(livro)">Incluir</button>
     	   </div>
     	</form>
    </div>
</uib-accordion>

</div>