<div class="container text-center">

  <div>
    <h2>Lista de produtos</h2>
    <div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estoque</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produto in produtos | orderBy: 'Nome'">
                    <td>{{ produto.Id }}</td>
                    <td>{{ produto.Nome }}</td>
                    <td>{{ produto.Quantidade }} itens</td>                    
                    <td>{{ produto.Valor }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div> 

  <div>
    <h2>Lista de pacotes</h2>
    <div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estoque</th>
                    <th>Duração</th>
                    <th>Valor</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pacote in pacotes | orderBy: 'Nome'">
                    <td>{{ pacote.Id }}</td>
                    <td>{{ pacote.Nome }}</td>
                    <td>{{ pacote.Quantidade }} itens</td>
                    <td>{{ pacote.Duracao }}</td>
                    <td>{{ pacote.Valor }}</td>
                    <td>{{ pacote.Descricao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div> 

  <div>
    <h2>Lista de extras</h2>
    <div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estoque</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="extra in extras | orderBy: 'Nome'">
                    <td>{{ extra.Id }}</td>
                    <td>{{ extra.Nome }}</td>
                    <td>{{ extra.Quantidade }} itens</td>
                    <td>{{ extra.Valor }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div> 

</div>
